<h2>Agenda General</h2>

<form method="get">
    <label>Fecha:</label>
    <input type="date" name="fecha" value="{{ fecha|date:'Y-m-d' }}">

    <label>Servicio:</label>
    <select name="servicio">
        <option value="">---------</option>
        {% for s in servicios %}
            <option value="{{ s.id }}" {% if servicio_id == s.id|stringformat:"s" %}selected{% endif %}>
                {{ s }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Ver</button>
</form>

<hr>

<h3>{{ fecha|date:"d-m-Y" }}</h3>

<table border="1" cellpadding="10">
    <tr>
        <th>Hora</th>
        {% for item in agenda_general %}
            <th>{{ item.profesional }}</th>
        {% endfor %}
    </tr>

    {% for hora in horas %}
        <tr>
            <td>{{ hora|time:"H:i" }}</td>

            {% for item in agenda_general %}
                {% for bloque in item.agenda.values %}
                    {% if bloque.hora == hora %}
                        <td>

                            {% if bloque.estado == "disponible" %}
                                {% if servicio_id %}
                                    <a href="{% url 'admin:core_cita_add' %}?profesional={{ item.profesional.id }}&servicio={{ servicio_id }}&fecha={{ fecha|date:'Y-m-d' }}&hora_inicio={{ bloque.hora|time:'H:i:s' }}"
                                       style="text-decoration:none; color:black;">
                                        🟢
                                    </a>
                                {% else %}
                                    🟢
                                {% endif %}

                            {% elif bloque.estado == "ocupado" %}
                                🔴 {{ bloque.cita.paciente }}

                            {% elif bloque.estado == "abonado" %}
                                🟡 {{ bloque.cita.paciente }}

                            {% elif bloque.estado == "pagado" %}
                                🔵 {{ bloque.cita.paciente }}

                            {% endif %}

                        </td>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </tr>
    {% endfor %}
</table>